.container {
  height: 100%;
    /* width: 90%;
    max-width: 1100px;
    margin: 0 auto; */
  }

.Homepage{
    background: #3f4444;
    width: 100vw;
    
}
/* @media only screen and (max-width: 1024px) {
  .container{
    width: 95%;
   
  }
} */
/* @media only screen and (min-width: 1700px) {
 .input{
  width: 50%;
 }
 .ant-input{
  width: 280px;
 }
 .ant-picker{
  width: 330px;
 }
}
@media only screen and (max-width: 1440px) {
 .input{
  width: 50%;
 }

}
@media only screen and (max-width: 768px) {
 .input{
  width: 100%;
 }
} */
