/*-------------------------Tailwind---------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------Header---------------------------------*/
.wrap-header{
  background: #3f4444;
  height: 100vh;
  width: 100%;
}



/*-------------------------NAVBAR---------------------------------*/
.ffff{
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100vw;
}
.wrap-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
 
}
.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.menu-navbar {
  display: flex;
  width: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  gap:20px;
  justify-content: space-around;
  color: #f1efe9;
}
.hr{
  color: #f4a93f;
}
.search{
    color: #f1efe9;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
}
.search a{
    font-size: 12px;
}

/*-------------------------FOOTER---------------------------------*/
footer{
  background: #3f4444;
  width: 100%;
}
.wrap-footer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20PX 0;
  color: #f1efe9;
}
.wrap-footer h6{
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 10px;
}
.wrap-footer p{
  font-size: 13px;
}
.menu-footer{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*-------------------------LOGIN---------------------------------*/
@layer components {
  .login-page {
    @apply w-screen flex min-h-screen overflow-x-hidden bg-[#3f4444];
  }

  .login-container {
    @apply container flex justify-between w-full mt-[80px];
  }

  .login-container-left {
    @apply border-r border-brand-gray;
  }

  .login-container-left, .login-container-right {
    @apply block p-8 w-full;
  }
  .login-form {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .login-form-tittle {
    @apply flex justify-start mb-4 w-full;
  }

  .login-form-tittle h1{
    @apply text-5xl text-brand-nude;
  }
  
  .textbox {
    @apply relative w-full mb-2;

  }
  
  .textbox span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }
  
  .login-form input,
  .login-form button {
    @apply w-full h-[60px] outline-none p-0 text-[16px] rounded-[8px];
  }
  
  .login-form input {
    @apply bg-transparent border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }
  
  .login-form input:focus {
    @apply border-[#157ae1];
  }
  
  .login-form input:focus ~ span {
    @apply text-[#157ae1];
  }
  
  .login-form button {
    @apply cursor-pointer bg-[#157ae1] text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }
  
  .login-form a {
    @apply text-[#157ae1] text-[16px] text-left;
    text-decoration: none;
  }
}