
/*-------------------------Header---------------------------------*/
header {
  background: #3f4444;
  height: 80vh;
  border-radius: 0 0 20px 20px;
}
.wrap-header {
  width: 100%;
}
.header-main {
  display: flex;
  width: 100%;
  gap: 50px;
  
}
.img1 {
  background: #f1efe9;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}
.img1 img {
  border-radius: 20px;
}
.img2 {
  width: 100%;
}
.wrap-booking {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  /* padding: 20px; */
  border-radius: 20px 20px 0 0;
  background: white;
  height: 50px;
}
.booking {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.book-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background: #f1efe9;
  border-radius: 20px 0 0 0;
  color: #cba052;
  gap: 30px;
  font-size: 20px;
}
.my-trip-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background: #f1efe9;
  color: #cba052;
  gap: 30px;
  font-size: 20px;
}
.check-in-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background: #f1efe9;
  color: #cba052;
  gap: 30px;
  font-size: 20px;
}
.flight-status-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background: #f1efe9;
  border-radius: 0 20px 0 0;
  color: #cba052;
  gap: 30px;
  font-size: 20px;
}
.book-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background:#cba052;
  color: #f1efe9;
  border-radius: 20px 0 0 0;
  gap: 30px;
  font-size: 20px;
}
.my-trip-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background:#cba052;
  color: #f1efe9;
  gap: 30px;
  font-size: 20px;
}
.check-in-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background:#cba052;
  color: #f1efe9;
  gap: 30px;
  font-size: 20px;
}
.flight-status-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
  background:#cba052;
  color: #f1efe9;
  border-radius: 0 20px 0 0;
  gap: 30px;
  font-size: 20px;
}
/* .book:hover{
  background: #f1efe9;
  border-radius: 20px 0 0 0;
}
.check-in:hover{
  background: #f1efe9;

}
.flight-status:hover{
  background: #f1efe9;
  border-radius: 0 20px 0 0;
}
.my-trip:hover{
  background: #f1efe9;

} */
.detail-booking {
  width: 100%;
  background: #f1efe9;
  height: 100px;
  border-radius: 0 0 20px 20px;
  color: #00843d;
}

/*-------------------------NAVBAR---------------------------------*/
.ffff {
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100vw;
}
.wrap-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.menu-navbar {
  display: flex;
  width: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  gap: 20px;
  justify-content: space-around;
  color: #f1efe9;
}
.hr {
  color: #f4a93f;
}
.search {
  color: #f1efe9;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 30%;
  justify-content: flex-end;
}
.search a {
  font-size: 12px;
}

/*-------------------------FOOTER---------------------------------*/
footer {
  background: #3f4444;
  width: 100%;
}
.wrap-footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px 0;
  color: #f1efe9;
}
.wrap-footer h6 {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 10px;
}
.wrap-footer p {
  font-size: 13px;
}
.menu-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*-------------------------LOGIN---------------------------------*/
@layer components {
  .login-page {
    @apply w-screen flex min-h-screen overflow-x-hidden bg-[#3f4444];
  }

  .login-container {
    @apply container flex justify-between w-full mt-[80px];
  }

  .login-container-left {
    @apply border-r border-brand-gray;
  }

  .login-container-left, .login-container-right {
    @apply block p-8 w-full;
  }
  .login-form {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .login-form-tittle {
    @apply flex justify-start mb-4 w-full;
  }

  .login-form-tittle h1{
    @apply text-5xl text-brand-nude;
  }
  
  .textbox {
    @apply relative w-full mb-2;

  }
  
  .textbox span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }
  
  .login-form input,
  .login-form button {
    @apply w-full h-[60px] outline-none p-0 text-[16px] rounded-[8px];
  }
  
  .login-form input {
    @apply bg-transparent border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }
  
  .login-form input:focus {
    @apply border-[#157ae1];
  }
  
  .login-form input:focus ~ span {
    @apply text-[#157ae1];
  }
  
  .login-form button {
    @apply cursor-pointer bg-[#157ae1] text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }
  
  .login-form a {
    @apply text-[#157ae1] text-[16px] text-left;
    text-decoration: none;
  }
}