@tailwind base;
@tailwind components;
@tailwind utilities;

h5 {
  margin: 0;
}
/*-------------------------LOGIN---------------------------------*/
@layer components {
  .login-page {
    @apply w-screen flex min-h-screen overflow-x-hidden bg-[#3f4444];
  }

  .login-container {
    @apply container flex justify-between w-full mt-[80px];
  }

  .login-container-left {
    @apply border-r border-brand-gray;
  }

  .login-container-left,
  .login-container-right {
    @apply block p-8 w-full;
  }
  .login-form {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .login-form-tittle {
    @apply flex justify-start mb-4 w-full;
  }

  .login-form-tittle h1 {
    @apply text-5xl text-brand-nude;
  }

  .textbox {
    @apply relative w-full mb-2;
  }

  .textbox span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }

  .login-form input,
  .login-form button {
    @apply w-full h-[60px] outline-none p-0 text-[16px] rounded-[8px];
  }

  .login-form input {
    @apply bg-transparent border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }

  .login-form input:focus {
    @apply border-[#157ae1];
  }

  .login-form input:focus ~ span {
    @apply text-[#157ae1];
  }

  .login-form button {
    @apply cursor-pointer bg-[#157ae1] text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }

  .login-form a {
    @apply text-[#157ae1] text-[16px] text-left;
    text-decoration: none;
  }
}
/*-------------------------Header---------------------------------*/
header {
  background: #3f4444;
  height: 80vh;
  margin-bottom: 100px;
}
.wrap-header {
  width: 100%;
}

.header-main {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: center;
  padding: 250px 0;
}
.slogan {
  width: 500px;
}
.slogan h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #f1efe9;
  text-align: center;
}
.img1 {
  background: #f1efe9;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}
.img1 img {
  border-radius: 20px;
}
.img2 {
  width: 100%;
}
.wrap-booking {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  /* padding: 20px; */
  border-radius: 20px 20px 0 0;
  background: white;
  height: 50px;
}
.booking {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.book-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #f1efe9;
  border-radius: 20px 0 0 0;
  color: #cba052;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
@keyframes flexxx {
  0% {
    justify-content: flex-start;
    opacity: 0;
  }
  100% {
    justify-content: center;
    opacity: 1;
  }
}
.my-trip-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #f1efe9;
  color: #cba052;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.check-in-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #f1efe9;
  color: #cba052;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.flight-status-default {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #f1efe9;
  border-radius: 0 20px 0 0;
  color: #cba052;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.book-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #cba052;
  color: #f1efe9;
  border-radius: 20px 0 0 0;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.my-trip-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #cba052;
  color: #f1efe9;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.check-in-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #cba052;
  color: #f1efe9;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}
.flight-status-cst {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  cursor: pointer;
  background: #cba052;
  color: #f1efe9;
  border-radius: 0 20px 0 0;
  gap: 15px;
  font-size: 20px;
  padding: 0 30px;
}

.wrap-detail-booking {
  width: 100%;
  background: #f1efe9;
  height: fit-content;
  border-radius: 0 0 20px 20px;
  color: #cba052;
  padding: 30px;
}
.wrap-detail-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.detail-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.detail-title h2 {
  font-size: 20px;
  font-weight: bolder;
}
.detail-booking {
  display: flex;
  width: 100%;
}
.inpt-book {
  width: 100%;
  height: 70px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  padding: 20px;
}
.inpt-trip {
  width: 50%;
  height: 70px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
  padding: 20px;
}
.inpt-passenger {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
  padding: 5px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
}

.dropdown-passenger {
  position: absolute;
  left: 0;
  background: #8c857b;
  top: 110%;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgb(178, 178, 178);
  color: #f1efe9;
  box-shadow: 0 0 20px rgb(171, 171, 171);
}
.wrap-passenger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.passenger {
  width: 100%;
  display: flex;
}
.passenger p {
  width: 100%;
}
.detail-passanger-class {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn-increment-decrement {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: flex-end;
}
.btn-increment-decrement button {
  width: 100%;
  color: #cba052;
  background: #f1efe9;
  border-radius: 5px;
  color: #555;
}
.wrap-class {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}
.class {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.confirm-passenger-class {
  background: #f1efe9;
  color: #cba052;
  height: 40px;
  border-radius: 10px;
}
.inpt-date {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
  padding: 5px;
}
.wrap-input {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100%;
}
.input {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  width: 225%;
}
.swap {
  left: 45%;
  position: absolute;
  background: #f1efe9;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-date {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.find {
  margin-top: 20px;
  display: flex;
  width: 42%;
  justify-content: center;
}
.btn-flight {
  width: 50%;
  background: #cba052;
  color: #f1efe9;
  height: 50px;
  border-radius: 8px;
  padding: 5px 0;
}
.date {
  width: 100%;
}
.ant-picker {
  border-color: transparent;
}
.ant-picker:hover {
  border-color: transparent;
}
.ant-picker-focused {
  box-shadow: 0 0 0 2px rgba(203, 161, 82, 0.196);
}
.ant-picker-range .ant-picker-active-bar {
  background: #cba052;
}

/*-------------------------NAVBAR---------------------------------*/
.ffff {
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100vw;
  height: fit-content;
  background: #8c857b;
}
.wrap-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.menu-navbar {
  display: flex;
  width: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  gap: 20px;
  justify-content: flex-start;
  color: #f1efe9;
}
.hr {
  color: #f4a93f;
}
.search {
  color: #f1efe9;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.search a {
  font-size: 12px;
}
.notif {
  display: flex;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding-top: 5px;
}
.notif p {
  font-size: 12px;
  font-family: "Roboto";
}
.ant-input {
  width: 200px;
  background: #f1efe9;
  border: transparent;
  transition: none;
  border-radius: 13px;
}
.frm {
  visibility: hidden;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.user img {
  width: 50px;
  height: 50px;
}
/*-------------------------Resullt Booking---------------------------------*/
.main-result-booking {
  margin-top: 80px;
  background: #f1efe9;
}
.wrap-result-booking {
  padding: 50px 0;
}
.title-result-booking {
  width: 50%;
  color: #3f4444;
  margin-bottom: 50px;
}
.title-result-booking h1 {
  font-size: 40px;
  line-height: 3.7rem;
}
.card-result-booking {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrap-card-result-booking {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid rgb(178, 178, 178);
  padding: 20px;
  background: #8c857b;
  color: #f1efe9;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-booking {
  width: 100%;
  display: flex;
  gap: 20px;
}
.result-booking {
  width: 100%;
  display: flex;
  gap: 20px;
}
.card-class {
  border: 1px solid rgb(178, 178, 178);
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: #f1efe9;
  color: #3f4444;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-class h5 {
  font-size: 15px;
  font-weight: 700;
}
.idr {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.card-class h6 {
  font-size: 25px;
}

.card-detail {
  border: 1px solid rgb(178, 178, 178);
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: #f1efe9;
  color: #3f4444;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn-detail-flight {
  background: #cba052;
  height: 30px;
  width: fit-content;
  font-size: 13px;
  color: #f1efe9;
  padding: 6px;
  border-radius: 5px;
}
.times {
  width: 100%;
  display: flex;
  gap: 10px;
  height: 100%;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.time-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.time-logo::before {
  border-bottom: 1px solid #000000;
  content: "";
  flex-grow: 1;
}
.time-logo::after {
  border-bottom: 1px solid #000000;
  content: "";
  flex-grow: 1;
}
.time p {
  font-size: 40px;
}
.wrap-modal-detail-flight {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-detail-flight {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 500;
}
.modal-detail-flight {
  display: flex;
  width: 100%;
  gap: 30px;
}
.detail-economy-class {
  display: flex;
  width: 100%;
  animation: class 1s ease-in-out;
  gap: 20px;
}
.modal-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.airports {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.modal-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-logo::before {
  border-left: 1px solid #000000;
  content: "";
  flex-grow: 1;
  position: relative;
  left: 50%;
}
.wrap-logo::after {
  border-left: 1px solid #000000;
  content: "";
  flex-grow: 1;
  position: relative;
  left: 50%;
}

@keyframes class {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.detail-economy-class h2 {
  font-size: 25px;
  font-weight: 700;
}
.benefit {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  border: 1px solid #f1efe9;
  border-radius: 20px;
  padding: 20px;
}
.btn-select-class {
  background: #cba052;
  border-radius: 10px;
  padding: 5px 10px;
  width: 25%;
  text-align: center;
}
.benefit-detail {
  display: flex;
  gap: 10px;
}
.icon-benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 7px;
}
.text-benefit {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.img-benefit {
  /* display: block;
  width: 100%; */
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.img-benefit img {
  width: 100%;
  max-width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
  -moz-transform: translate(-50%, -50%) scale(1.5);
  -o-transform: translate(-50%, -50%) scale(1.5);
  transform: translate(-50%, -50%) scale(1.5);
}

/*-------------------------FOOTER---------------------------------*/
footer {
  background: #3f4444;
  width: 100%;
}
.wrap-footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px 0;
  color: #f1efe9;
}
.wrap-footer h6 {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 10px;
}
.wrap-footer p {
  font-size: 13px;
}
.menu-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-footer h6 {
  margin: 0;
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facebook {
  font-size: 25px;
  color: blue;
}
.youtube {
  font-size: 25px;
  color: red;
}

/*-------------------------LOGIN---------------------------------*/
@layer components {
  .login-page {
    @apply w-full flex min-h-screen overflow-x-hidden bg-[#3f4444];
  }

  .login-container {
    @apply container flex justify-between w-full mt-[80px];
  }

  .login-container-left {
    @apply border-r border-brand-gray;
  }

  .login-container-left,
  .login-container-right {
    @apply block p-[6rem] w-full;
  }
  .login-form {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .login-form-tittle {
    @apply flex justify-start mb-4 w-full;
  }

  .login-form-tittle h1 {
    @apply text-5xl text-brand-nude;
  }

  .textbox {
    @apply relative w-full mb-2;
  }

  .textbox span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }

  .login-form input,
  .login-form button {
    @apply w-full h-[60px] outline-none p-0 text-[16px] rounded-[8px];
  }

  .login-form input {
    @apply bg-transparent text-brand-nude border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }

  .login-form input:focus {
    @apply border-brand-yellow;
  }

  .login-form input:focus ~ span {
    @apply text-brand-yellow;
  }

  .login-form button {
    @apply cursor-pointer bg-brand-yellow text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }

  .login-form a {
    @apply text-brand-nude text-[16px] text-left;
    text-decoration: none;
  }

  .login-account {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .login-account-tittle {
    @apply flex justify-center mb-4 w-full;
  }

  .login-account-tittle h1 {
    @apply text-4xl text-brand-nude;
  }

  .login-account-desc {
    @apply justify-center mb-4 w-full;
  }

  .login-account-desc p {
    @apply text-center text-xl text-brand-nude;
  }

  .login-account a {
    @apply flex cursor-pointer justify-center h-[60px] w-[50%] p-4 bg-brand-yellow text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }

  /*-------------------------REGISTER---------------------------------*/
  .register-page {
    @apply w-screen flex min-h-screen overflow-x-hidden bg-[#3f4444];
  }

  .register-container {
    @apply container flex justify-between w-full mt-[80px];
  }

  .register-container-left {
    @apply border-r border-brand-gray;
  }

  .register-container-left,
  .register-container-right {
    @apply block p-[6rem] w-full;
  }
  .register-form {
    @apply grid gap-[16px] w-full m-0 justify-items-center;
  }

  .register-form-tittle {
    @apply flex justify-start mb-4 w-full;
  }

  .register-form-tittle h1 {
    @apply text-5xl text-brand-nude;
  }

  .textbox {
    @apply relative w-full mb-2;
  }

  .textbox span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }

  .textbox-select {
    @apply relative w-full mb-2;
  }

  .textbox-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .select::-ms-expand {
    display: none;
  }

  .textbox-select:after {
    content: "<>";
    font: 17px "Consolas", monospace;
    color: #f2efea;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 55px;
    top: 19px;
    padding: 0 0 1px;
    position: absolute;
    pointer-events: none;
  }

  .textbox-select span {
    @apply absolute top-[50%] left-[16px] translate-x-0 translate-y-[-50%];
  }

  .register-form input,
  .register-form button,
  .register-form select {
    @apply w-full h-[70px] outline-none p-0 text-[16px] rounded-[8px];
  }

  .register-form input {
    @apply bg-transparent text-brand-nude border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }

  .register-form input:focus {
    @apply border-brand-yellow;
  }

  .register-form input:focus ~ span {
    @apply text-brand-yellow;
  }

  .register-form select {
    @apply bg-transparent text-brand-nude border-[2px] border-brand-gray text-[18px] px-[50px] py-[20px];
  }

  .register-form select:focus {
    @apply border-brand-yellow;
  }

  .register-form select:focus ~ span {
    @apply text-brand-yellow;
  }

  .register-form button {
    @apply cursor-pointer bg-brand-yellow text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }

  .register-form a {
    @apply text-brand-yellow text-[16px] text-left;
    text-decoration: none;
  }

  .register-account {
    @apply grid gap-[16px] w-full mt-4 justify-items-center;
  }

  .register-account-tittle {
    @apply flex justify-center mb-4 w-full;
  }

  .register-account-tittle h1 {
    @apply text-4xl text-brand-nude;
  }

  .register-account-desc {
    @apply flex justify-center mb-4 w-full;
  }

  .register-account-desc p {
    @apply flex text-center text-xl text-brand-nude;
  }

  .register-account a {
    @apply flex cursor-pointer justify-center h-[60px] w-[50%] p-4 bg-brand-yellow text-[#f9f9f9] border-0 font-[600] tracking-[2px];
  }
}

/*---------------Navbar Media Screen---------------*/
@media only screen and (max-width: 1280px) {
  .ant-input {
    width: 150px;
  }
}
